// Primary

$Bright-Blue: hsl(220, 98%, 61%);
$linear-one:hsl(192, 100%, 67%);
$linear-two:hsl(280, 87%, 65%);

 // Light Theme

$background-color-light: hsl(236, 33%, 92%);
$to-do-background-color-light: hsl(0, 0%, 98%);
$border-light: hsl(233, 11%, 84%);
$dark-Grayish-Blue: hsl(236, 9%, 61%);
$text-color-light: hsl(235, 19%, 35%);
$hover-color-light: hsl(235deg, 21%, 11%);

// Dark Theme

$background-color-dark: hsl(235, 21%, 11%);
$to-do-background-color-dark: hsl(235, 24%, 19%);
$Light-Grayish-Blue: hsl(234, 39%, 85%);
$hover-color-dark: hsl(235, 32%, 92%); //  (hover)
$Dark-Grayish-Blue: hsl(234, 11%, 52%);
$Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
$border-dark: hsl(237, 14%, 26%);
$text-color:hsl(0, 0%, 73%);

// fonts 

$font-size:18px;
$Josefin-font:'Josefin Sans', sans-serif;
